body {
  font-family: Lora, sans-serif;
  background-image: url("https://wallpapercave.com/wp/wp5352389.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.content {
  max-width: 800px;
  margin: 3em auto;
  background-color: skyblue;
  opacity: 0.9;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 19px 38px, rgba(0, 0, 0, 0.6) 0px 15px 12px;
  border-radius: 12px;
}

img {
  width: 100%;
  height: auto;
  border-radius: inherit;
  opacity: 1;
}
